Flask==1.1.1
Flask-SQLAlchemy==2.4.0
flask-marshmallow==0.10.1
marshmallow==3.0.1
marshmallow-sqlalchemy
marshmallow-sqlalchemy==0.17.0
Flask-Script==2.0.6
Flask-Migrate==2.5.2
Flask-Cors==3.0.8
flask-restplus==0.13.0
Flask-JWT-Extended==3.23.0